
    
    
    <BR/><BR/><BR/>
{{ form_widget(form.name, { 'attr': {'class': 'input-xxlarge', 'placeholder':'Project Name', 'style':'font-size:xx-large; font-weight: bold; height:40px'} }) }}
{{ form_widget(form.description, { 'attr': {'class': 'input-xxlarge', 'placeholder':'Description', 'style':'font-size:x-large; font-weight: bold; height:30px'} }) }}
<BR/><BR/>
<span style="font-size: large">Languaje: &nbsp;</span>{{ form_widget(form.languaje, { 'attr': {'class': 'input', 'style':'font-size:medium;  height:35px'} }) }}
<BR/><BR/>
<BR/>
<center>{{ form_errors(form) }}</center>
<div>
    <div style="text-align: center; font-weight: bold; font-size: x-large;margin-bottom: -5px">Option list</div>
    <a class="btn btn-primary" style="margin-bottom: 8px" data-collection-add-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_control_group"><i class="icon-plus-sign icon-white"></i>
    Add Option
    </a>    
</div>
{% set boton='<td><a class="btn btn-danger" data-collection-remove-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions___name___control_group"><i class="icon-trash icon-white"></i></a></td>' %}
    <table class="table table-striped optionProjects"  data-prototype="{{ form_widget(form.projectOptions.vars.prototype)|e }}{{ boton|e }}" id="{{ form.projectOptions.vars.id }}_control_group" class="collection-item">
    <thead>
        <tr>
            <th>Shortname</th>
            <th>Longname</th>
            <th colspan="2">Args/Mandatory</th>
            <th>Type</th>
            <th>Description</th>
            <th> </th>
        </tr>
    </thead>
    <tbody  class="controls">
    {% for option in form.projectOptions %}
        <tr>
            <td>
                {# <a class="controls collection-item btn btn-inverse btn-danger" data-collection-remove-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_0_control_group"><i class="icon-circle-arrow-up icon-white"></i></a>
                <a class="controls collection-item btn btn-inverse btn-danger" data-collection-remove-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_0_control_group"><i class="icon-circle-arrow-down icon-white"></i></a> #}
                {{ form_widget(option.shortName) }}
            </td>
            <td>{{ form_widget(option.longName) }}</td>
            <td>{{ form_widget(option.arguments) }}</td>
            <td>{{ form_widget(option.mandatory) }}</td>
            <td>{{ form_widget(option.type) }}</td>
            <td>{{ form_widget(option.description) }}</td>
            <td>
                <a class="btn btn-danger" data-collection-remove-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_0_control_group"><i class="icon-trash icon-white"></i></a>
             </td>
        </tr>
        
    {% endfor %}

        
    </tbody>
    </table>      
{{ form_rest(form) }}
    

