
    
    
    <BR/><BR/><BR/>
{{ form_widget(edit_form.name, { 'attr': {'class': 'input-xxlarge', 'placeholder':'Project Name', 'style':'font-size:xx-large; font-weight: bold; height:40px'} }) }}
{{ form_widget(edit_form.description, { 'attr': {'class': 'input-xxlarge', 'placeholder':'Description', 'style':'font-size:x-large; font-weight: bold; height:30px'} }) }}
<BR/><BR/><BR/>
    <a class="btn btn-primary" data-collection-add-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_control_group"><i class="icon-plus-sign icon-white"></i>
Add Option
</a>

<BR/>
<center><b>Option list</b></center>
{% set boton='<td><a class="btn btn-danger" data-collection-remove-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions___name___control_group"><i class="icon-trash icon-white"></i>
                Remove
                </a></td>' %}
    <table class="table table-striped optionProjects"  data-prototype="{{ form_widget(edit_form.projectOptions.vars.prototype)|e }}{{ boton|e }}" id="{{ edit_form.projectOptions.vars.id }}_control_group" class="collection-item">
    <thead>
        <tr>
            <th>Shortname</th>
            <th>Longname</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody  class="controls">
    {% for option in edit_form.projectOptions %}
        <tr>
            <td>{{ form_widget(option.shortName) }}</td>
            <td>{{ form_widget(option.longName) }}</td>
            <td>{{ form_widget(option.description) }}</td>
            <td>
                <a class="btn btn-danger" data-collection-remove-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_0_control_group"><i class="icon-trash icon-white"></i>
                Remove
                </a>
             </td>
        </tr>
        
    {% endfor %}

        
    </tbody>
    </table>      

    

