
{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% form_theme form _self %}

{% block form_row %}
{% spaceless %}
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
{% endspaceless %}
{% endblock form_row %}


{% block bundle_content %}

<form  method="post" {{ form_enctype(form) }}
        {% if entity.user.id is not null %}
            action="{{ path('DafuerGetOptGeneratorBundle_project_update', { 'id': entity.id }) }}"
        {% else %}
            action="{{ path('DafuerGetOptGeneratorBundle_project_update_session') }}"
        {% endif %}       
       >        
{% include 'DafuerGetOptGeneratorBundle:Project:_form.html.twig' with {'form': form} %}        
     {{ form_rest(form) }}
    <p>
        <button class="btn btn-success" type="submit">Edit</button>
    </p> 
</form>       
<ul class="record_actions">
    <li>
        <a href="{{ path('DafuerGetOptGeneratorBundle_project') }}" >
            Back to the list
        </a>
    </li>
    {% if entity.user.id is not defined %}
        <li>
            <form action="{{ path('DafuerGetOptGeneratorBundle_project_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endif %}
</ul>

        

    
{% endblock %}

