{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% form_theme form _self %}

{% block form_row %}
{% spaceless %}
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
{% endspaceless %}
{% endblock form_row %}


{% block bundle_content %}

<form  method="post" {{ form_enctype(form) }}
        {% if entity.user.id is not null %}
            action="{{ path('DafuerGetOptGeneratorBundle_project_update', { 'id': entity.id }) }}"
        {% else %}
            action="{{ path('DafuerGetOptGeneratorBundle_project_update_session') }}"
        {% endif %}       
       >        
{% include 'DafuerGetOptGeneratorBundle:Project:_form.html.twig' with {'form': form} %}        
     {{ form_rest(form) }}
    <p>
        <a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">
            Cancel
        </a>
        <button class="btn btn-success" type="submit">Apply changes</button>
    </p> 
</form>       
        
<!-- Modal -->
<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Warning</h3>
    </div>
    <div class="modal-body">
        <p>Do you want to exit without save changes?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">No</a>
        {% if entity.user.id is not null %}
            <a href="{{ path('DafuerGetOptGeneratorBundle_project_show', { 'id': entity.id }) }}" class="btn btn-danger">Yes</a>
        {% else %}
            <a href="{{ path('DafuerGetOptGeneratorBundle_project_show_session') }}" class="btn btn-danger">Yes</a>
        {% endif %}        
    </div>
 </div>
        

    
{% endblock %}


