
{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% form_theme edit_form _self %}

{% block form_row %}
{% spaceless %}
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
{% endspaceless %}
{% endblock form_row %}





{% block bundle_content %}

        
{% include 'DafuerGetOptGeneratorBundle:Project:_form.html.twig' with {'edit_form': edit_form} %}        
        
<ul class="record_actions">
    <li>
        <a href="{{ path('DafuerGetOptGeneratorBundle_project') }}" >
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('DafuerGetOptGeneratorBundle_project_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

        

    
{% endblock %}

