
{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% form_theme edit_form _self %}
{% block form_row %}
{% spaceless %}
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
{% endspaceless %}
{% endblock form_row %}


{% block bundle_content %}
<form action="{{ path('DafuerGetOptGeneratorBundle_project_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <h1>New Project</h1>
    
    <BR/><BR/><BR/>
{{ form_widget(edit_form.name, { 'attr': {'class': 'input-xxlarge', 'placeholder':'Project Name', 'style':'font-size:xx-large; font-weight: bold; height:40px'} }) }}
{{ form_widget(edit_form.description, { 'attr': {'class': 'input-xxlarge', 'placeholder':'Description', 'style':'font-size:x-large; font-weight: bold; height:30px'} }) }}
<BR/><BR/><BR/>
    <a class="btn btn-primary" data-collection-add-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_control_group"><i class="icon-plus-sign icon-white"></i>
Add Option
</a>
<div data-prototype="{{ form_widget(edit_form.projectOptions.vars.prototype)|e }}" id="dafuer_getoptgeneratorbundle_projecttype_projectOptions_control_group" class="controls control-group">asd</div>
    <table class="table table-striped optionProjects" >
    <thead>
        <tr>
            <th>Shortname</th>
            <th>Longname</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for option in edit_form.projectOptions %}
        <tr>
            <td><div id="dafuer_getoptgeneratorbundle_projecttype_projectOptions_control_group" class="collection-item"><div class="controls"><div class="collection-item"></div>{{ form_widget(option.shortName) }}</div></div></td>
            <td>{{ form_widget(option.longName) }}</td>
            <td>{{ form_widget(option.description) }}</td>
            <td>
                <a class="btn btn-danger" data-collection-remove-btn="#dafuer_getoptgeneratorbundle_projecttype_projectOptions_0_control_group"><i class="icon-trash icon-white"></i>
                Remove
                </a>
             </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>      
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('DafuerGetOptGeneratorBundle_project') }}" >
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('DafuerGetOptGeneratorBundle_project_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>


{% endblock %}

