{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% block bundle_content %}
<h1>Your Project List</h1>

<BR/><BR/>
<a href="{{ path('DafuerGetOptGeneratorBundle_project_new') }}" class="btn btn-primary">
    Create a new project
</a>
<BR/><BR/>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            {#<th>Actions</th>#}
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('DafuerGetOptGeneratorBundle_project_show', { 'id': entity.id }) }}"><b>{{ entity.name }}</b></a></td>
            <td>{{ entity.description }}</td>
            {#<td>
                <a href="{{ path('DafuerGetOptGeneratorBundle_project_show', { 'id': entity.id } ) }}"  class="btn btn-success">
                    <i class="icon-edit icon-white"></i> Show
                </a>                
                <a href="{{ path('DafuerGetOptGeneratorBundle_project_edit', { 'id': entity.id } ) }}"  class="btn btn-warning">
                    <i class="icon-edit icon-white"></i> Edit
                </a>                
            </td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>




{% endblock %}