{% extends "DafuerGetOptGeneratorBundle::layout.html.twig" %}


{% form_theme form _self %}

{% block form_row %}
{% spaceless %}
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
{% endspaceless %}
{% endblock form_row %}

{% block bundle_content %}
        
{% include 'DafuerGetOptGeneratorBundle:Project:_form.html.twig' with {'edit_form': form} %}  
        
<form action="{{ path('DafuerGetOptGeneratorBundle_project_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <p>
        <button class="btn btn-success" type="submit">Create</button>
    </p>
</form>

{#
<ul class="record_actions">
    <li>
        <a href="{{ path('DafuerGetOptGeneratorBundle_project') }}">
            Back to the list
        </a>
    </li>
</ul>#}
{% endblock %}