{% if app.user %}
<a class="btn btn-inverse pull-right" href="{{ path('fos_user_security_logout') }}"><i class="icon-signout"></i></a>

<ul class="nav pull-right">
    <li><a>{{ app.user.username }}</a></li>
</ul>

{% else %}

    <form class="navbar-search pull-right" style="display: inline-block" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input style="margin-bottom: 0px" class="input-small search-query not-removable" placeholder="username" type="text" id="username" name="_username" value="{{ last_username }}" />

        <input style="margin-bottom: 0px" class="input-small search-query not-removable" placeholder="password" type="password" id="password" name="_password" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="true" style="display:none"/>

        <button  class="btn btn-inverse" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" ><i class=" icon-signin"></i></button>

    </form>

{% endif %}